target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea
*.iws
*.iml
*.ipr

.vscode/

.issue/

*.md
!README.md

.git
.gitignore
.gitattributes

compose.yaml
docker-compose.yml
Dockerfile
